@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e96f1e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --headerclr:#d67915;
    --mainclr:#1a1417;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    transition: .2s;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.header #logo img{
    width: 250px;
}
.navbar a{
 color: black;
 font-size: 1.5rem;
 margin-right: 1.5rem;
 position: relative;
 padding: 1rem;
}
.navbar a:hover{
    color: var(--mainclr);
}
.navbar a:after {
  content: '';
  position: absolute;
  background: var(--mainclr);
  height: 3px;
  width: 0;
  bottom: -7px;
  left: 0;
  transition: .5s;
}
.navbar a:hover:after {
    width: 100%;
}
nav{
    margin-left: 10rem;
}
.icons div{
     color: var(--mainclr);
     cursor: pointer;
     font-size: 2rem;
     display: none;
}
.navbar.active{
    left: -10rem;
}
.main-home{
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-home .left-home{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-left-content h3{
    font-size: 40px;
    color: black;
    font-weight: lighter;
    margin-bottom: 5px;
}
.inner-left-content h1{
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
}
.inner-left-content p{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.inner-left-content a{
    padding: 1.5rem 3rem;
    background: var(--headerclr);
    color: white;
    font-size: 1.5rem;
}
.inner-left-content a:hover{
border-radius: 15px;
background: var(--mainclr);
}
.main-home .right-home{
width: 50%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.main-home .right-home img{
    width: 80%;
    margin-top: 50px;
}
.home{
    background: url(images/bgshape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: right;
}
.who{
    padding: 2rem 7%;
}
.who h1{
    color:black;
    font-size: 40px;
    text-align: center;
}
.main-who{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-who{
    flex: 1 1 45rem;
}
.inner-who img{
width: 80%;
}
.inner-who-content{
    padding: 0 2rem;
}
.inner-who-content h2{
    color: var(--headerclr);
    font-size: 40px;
}
.inner-who-content p{
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 25px;
}
.inner-who-content a{
    background: var(--headerclr);
    padding: 1.5rem 3rem;
    color: white;
    font-size: 1.5rem;
}
.inner-who-content a:hover{
    border-radius: 15px;
    background: var(--mainclr);
}


.we-offer{
    padding: 2rem 7%;
}
.we-offer h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.main-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-offer{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.inner-offer:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inner-offer img{
    width: 50px;
}
.inner-offer h2{
    font-size: 25px;
    margin: 1rem 0;
}
.inner-offer p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.inner-offer a{
    padding: 1.5rem 3rem;
    background: var(--mainclr);
    border-radius: 15px;
    font-size: 1.5rem;
    color:white;
    transition: .5s;
}
.inner-offer a:hover{
    background: var(--headerclr);
    border-radius: 0;
}

.our-pricing{
    padding: 6rem 7%;
    background: #fafafae6;
    
}
.our-pricing h1{
    color: rgb(24, 24, 24);
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.main-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.inner-price{
 flex: 1 1 300px;
 padding: 5rem 1rem;
 background: white;
 text-align: center;
border-radius: 15px;
}

.inner-price:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-price h2{
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}
.inner-price p{
font-size: 1.5rem;
margin-bottom: 25px;
padding: 0 2rem ;
}

.inner-price a{
    background: var(--mainclr);
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 3rem;

}

.inner-price a:hover{
    background: var(--headerclr);
    border-radius: 15px;
}

.header.active{
    background: var(--headerclr);
    transition: all .9s ease-in-out;
}






@media (max-width:767px) {
    html{
        font-size: 55%;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -300%;
        right: 0;
        width: 30rem;
        height: 100vh;
        background: var(--headerclr);
    }
.navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
.icons div{

    display: initial;
}

.main-home .right-home{
    width: 100%;
    margin-top: 0;
}
.main-home .right-home img{
    width: 100%;
    margin-top: -100px;
}
.main-home .left-home{
    width: 100%;
    margin-top: -100px;
}

.home{
    background: none;
}
.who{
    margin-top: 200px;
}
.inner-who-content{
    margin-top: 20px;
}
.who h1{
    margin-bottom: 15px;
}







}